In [ ]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 80.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=ce40173edf7ac8d0d3a720d15a4eecb919077bd5862e64afbac47be1d407663e
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('weather.csv', skiprows = 28, skipfooter = 1)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
df.columns

Index(['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure'],
      dtype='object')

In [ ]:
col = ['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure']

In [ ]:
df.rename(columns={' Temperature': 'Temperature',
                   ' Average humidity (%': 'Avg Humidity',
                   ' Average dewpoint (°F': 'Avg Dewpoint',
                   ' Average barometer (in': 'Avg Barometer',
                   ' Average windspeed (mph' : 'Avg windspeed',
                   ' Average gustspeed (mph' : 'Avg Gustspeed',
                   ' Average direction (°deg' : 'Avg Direction',
                   ' Rainfall for month (in' : 'Rainfall for month',
                   'Rainfall for year (in': 'Rainfall for year',
                   ' Maximum rain per minute' : 'Max rain per minute',
                   ' Maximum temperature (°F' : 'Max temp',
                   ' Minimum temperature (°F' : 'Min temp',
                   ' Maximum humidity (%' : 'Max humidity',
                   ' Minimum humidity (%' : 'Min humidity',
                   ' Maximum pressure' : 'Max pressure',
                   ' Minimum pressure' : 'Min pressure',
                   ' Maximum windspeed (mph' : 'Max windspeed',
                   ' Maximum gust speed (mph' : 'Max gust speed',
                   ' Maximum heat index (°F' : 'Max heat index',
                   ' Month': 'Month', ' diff_pressure':'Diff pressure'},
          inplace = True)

In [ ]:
df.head()

,Date,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,...,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month,Diff pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,1,'0.16600000000000037'
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,1,'0.4009999999999998'
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0,1,'0.9719999999999978'
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,1,'0.33899999999999864'
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,1,'0.6649999999999991'

In [ ]:
df.describe()

,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,Max rain per minute,Max temp,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.0,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,44.674231,48.885897,23.133513,29.881462,5.756846,10.009769,216.067949,0.451172,5.488767,0.0,57.567077,31.229692,73.678205,26.019487,30.045475,29.701636,19.838231,33.974333,58.092000,6.397949
std,15.329944,17.439054,14.634988,0.250452,4.022305,14.120600,97.676906,0.603599,4.534157,0.0,17.758798,14.127707,20.384085,15.627447,0.258203,0.451806,12.237487,38.642217,17.956284,3.429665
min,-12.100000,9.000000,-22.200000,28.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-6.100000,-27.700000,1.000000,0.000000,29.338000,13.266000,0.000000,0.000000,-6.100000,1.000000
25%,33.700000,36.000000,12.100000,29.700000,2.700000,4.500000,116.000000,0.050000,0.980000,0.0,43.900000,23.000000,63.000000,15.000000,29.866000,29.562000,13.800000,19.600000,43.875000,3.000000
50%,45.150000,47.000000,22.500000,29.900000,4.600000,7.100000,253.000000,0.220000,5.080000,0.0,57.300000,32.800000,81.000000,22.000000,30.016000,29.711500,18.400000,27.600000,57.250000,6.000000
75%,58.000000,61.000000,35.425000,30.000000,8.000000,12.100000,282.000000,0.670000,9.050000,0.0,73.200000,41.800000,89.000000,32.000000,30.203250,29.869250,24.200000,34.500000,77.300000,9.000000
max,76.300000,94.000000,55.100000,31.000000,26.400000,240.400000,360.000000,4.480000,16.410000,0.0,92.700000,65.700000,100.000000,90.000000,31.204000,30.855000,181.700000,255.300000,88.400000,12.000000

,Date,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,...,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month,Diff pressure
723,2022-02-01,-12.1,63.0,-21.1,30.8,2.4,4.0,123.0,0.0,0.11,...,-23.6,70.0,52.0,31.061,30.556,11.5,13.8,-6.1,2,'0.504999999999999'

In [ ]:
df.dtypes

Date                    object
Temperature            float64
Avg Humidity           float64
Avg Dewpoint           float64
Avg Barometer          float64
Avg windspeed          float64
Avg Gustspeed          float64
Avg Direction          float64
Rainfall for month     float64
Rainfall for year      float64
Max rain per minute    float64
Max temp               float64
Min temp               float64
Max humidity           float64
Min humidity           float64
Max pressure           float64
Min pressure           float64
Max windspeed          float64
Max gust speed         float64
Max heat index         float64
Month                    int64
Diff pressure           object
Diff                    object
dtype: object

In [ ]:
df['Date'].value_counts()

2022-05-22'    12
2022-06-12'    12
2022-06-18'    12
2022-06-17'    12
2022-06-16'    12
               ..
2022-12-07'     8
2022-12-01'     8
2022-12-05'     8
2022-02-29'     2
2022-01-01      1
Name: Date, Length: 367, dtype: int64

In [ ]:
df['Date'].unique()

# 13, 14, 15 /03 missing
# December is missing
# Whole January, February of next year is missing

array(['2022-01-01', "2022-01-02'", "2022-01-03'", "2022-01-04'",
       "2022-01-05'", "2022-01-06'", "2022-01-07'", "2022-01-08'",
       "2022-01-09'", "2022-01-10'", "2022-01-11'", "2022-01-12'",
       "2022-01-13'", "2022-01-14'", "2022-01-15'", "2022-01-16'",
       "2022-01-17'", "2022-01-18'", "2022-01-19'", "2022-01-20'",
       "2022-01-21'", "2022-01-22'", "2022-01-23'", "2022-01-24'",
       "2022-01-25'", "2022-01-26'", "2022-01-27'", "2022-01-28'",
       "2022-01-29'", "2022-01-30'", "2022-01-31'", "2022-02-01'",
       "2022-02-02'", "2022-02-03'", "2022-02-04'", "2022-02-05'",
       "2022-02-06'", "2022-02-07'", "2022-02-08'", "2022-02-09'",
       "2022-02-10'", "2022-02-11'", "2022-02-12'", "2022-02-13'",
       "2022-02-14'", "2022-02-15'", "2022-02-16'", "2022-02-17'",
       "2022-02-18'", "2022-02-19'", "2022-02-20'", "2022-02-21'",
       "2022-02-22'", "2022-02-23'", "2022-02-24'", "2022-02-25'",
       "2022-02-26'", "2022-02-27'", "2022-02-28'", "2022-03-01'",
       "2022-03-02'", "2022-03-03'", "2022-03-04'", "2022-03-05'",
       "2022-03-06'", "2022-03-07'", "2022-03-08'", "2022-03-09'",
       "2022-03-10'", "2022-03-11'", "2022-03-12'", "2022-03-16'",
       "2022-03-17'", "2022-03-18'", "2022-03-19'", "2022-03-20'",
       "2022-03-21'", "2022-03-22'", "2022-03-23'", "2022-03-24'",
       "2022-03-25'", "2022-03-26'", "2022-03-27'", "2022-03-28'",
       "2022-03-29'", "2022-03-30'", "2022-03-31'", "2022-04-01'",
       "2022-04-02'", "2022-04-03'", "2022-04-04'", "2022-04-05'",
       "2022-04-06'", "2022-04-07'", "2022-04-08'", "2022-04-09'",
       "2022-04-10'", "2022-04-11'", "2022-04-12'", "2022-04-13'",
       "2022-04-14'", "2022-04-15'", "2022-04-16'", "2022-04-17'",
       "2022-04-18'", "2022-04-19'", "2022-04-20'", "2022-04-21'",
       "2022-04-22'", "2022-04-23'", "2022-04-24'", "2022-04-25'",
       "2022-04-26'", "2022-04-27'", "2022-04-28'", "2022-04-29'",
       "2022-04-30'", "2022-05-01'", "2022-05-02'", "2022-05-03'",
       "2022-05-04'", "2022-05-05'", "2022-05-06'", "2022-05-07'",
       "2022-05-08'", "2022-05-09'", "2022-05-10'", "2022-05-11'",
       "2022-05-12'", "2022-05-13'", "2022-05-14'", "2022-05-15'",
       "2022-05-16'", "2022-05-17'", "2022-05-18'", "2022-05-19'",
       "2022-05-20'", "2022-05-21'", "2022-05-22'", "2022-05-23'",
       "2022-05-24'", "2022-05-25'", "2022-05-26'", "2022-05-27'",
       "2022-05-28'", "2022-05-29'", "2022-05-30'", "2022-05-31'",
       "2022-06-01'", "2022-06-02'", "2022-06-03'", "2022-06-04'",
       "2022-06-05'", "2022-06-06'", "2022-06-07'", "2022-06-08'",
       "2022-06-09'", "2022-06-10'", "2022-06-11'", "2022-06-12'",
       "2022-06-13'", "2022-06-14'", "2022-06-15'", "2022-06-16'",
       "2022-06-17'", "2022-06-18'", "2022-06-19'", "2022-06-20'",
       "2022-06-21'", "2022-06-22'", "2022-06-23'", "2022-06-24'",
       "2022-06-25'", "2022-06-26'", "2022-06-27'", "2022-06-28'",
       "2022-06-29'", "2022-06-30'", "2022-07-01'", "2022-07-02'",
       "2022-07-03'", "2022-07-04'", "2022-07-05'", "2022-07-06'",
       "2022-07-07'", "2022-07-08'", "2022-07-09'", "2022-07-10'",
       "2022-07-11'", "2022-07-12'", "2022-07-13'", "2022-07-14'",
       "2022-07-15'", "2022-07-16'", "2022-07-17'", "2022-07-18'",
       "2022-07-19'", "2022-07-20'", "2022-07-21'", "2022-07-22'",
       "2022-07-23'", "2022-07-24'", "2022-07-25'", "2022-07-26'",
       "2022-07-27'", "2022-07-28'", "2022-07-29'", "2022-07-30'",
       "2022-07-31'", "2022-08-01'", "2022-08-02'", "2022-08-03'",
       "2022-08-04'", "2022-08-05'", "2022-08-06'", "2022-08-07'",
       "2022-08-08'", "2022-08-09'", "2022-08-10'", "2022-08-11'",
       "2022-08-12'", "2022-08-13'", "2022-08-14'", "2022-08-15'",
       "2022-08-16'", "2022-08-17'", "2022-08-18'", "2022-08-19'",
       "2022-08-20'", "2022-08-21'", "2022-08-22'", "2022-08-23'",
       "2022-08-24'", "2022-08-25'", "2022-08-26'", "2022-08-27'",
       "2022-08-28'", "2022-08-29'", "2022-08-30'", "2022-08-31'",
       "2022-09-01'", "2022-09-02'", "2022-09-03'", "2022-09-04'",
       "2022-09-05'", "2022-09-06'", "2022-09-07'", "2022-09-08'",
       "2022-09-09'", "2022-09-10'", "2022-09-11'", "2022-09-12'",
       "2022-09-13'", "2022-09-14'", "2022-09-15'", "2022-09-16'",
       "2022-09-17'", "2022-09-18'", "2022-09-19'", "2022-09-20'",
       "2022-09-21'", "2022-09-22'", "2022-09-23'", "2022-09-24'",
       "2022-09-25'", "2022-09-26'", "2022-09-27'", "2022-09-28'",
       "2022-09-29'", "2022-09-30'", "2022-10-01'", "2022-10-02'",
       "2022-10-03'", "2022-10-04'", "2022-10-05'", "2022-10-06'",
       "2022-10-07'", "2022-10-08'", "2022-10-09'", "2022-10-10'",
       "2022-10-11'", "2022-10-12'", "2022-10-13'", "2022-10-14'",
       "2022-10-15'", "2022-10-16'", "2022-10-17'", "2022-10-18'",
       "2022-10-19'", "2022-10-20'", "2022-10-21'", "2022-10-22'",
       "2022-10-23'", "2022-10-24'", "2022-10-25'", "2022-10-26'",
       "2022-10-27'", "2022-10-28'", "2022-10-29'", "2022-10-30'",
       "2022-10-31'", "2022-11-01'", "2022-11-02'", "2022-11-03'",
       "2022-11-04'", "2022-11-05'", "2022-11-06'", "2022-11-07'",
       "2022-11-08'", "2022-11-09'", "2022-11-10'", "2022-11-11'",
       "2022-11-12'", "2022-11-13'", "2022-11-14'", "2022-11-15'",
       "2022-11-16'", "2022-11-17'", "2022-11-18'", "2022-11-19'",
       "2022-11-20'", "2022-11-21'", "2022-11-22'", "2022-11-23'",
       "2022-11-24'", "2022-11-25'", "2022-11-26'", "2022-11-27'",
       "2022-11-28'", "2022-11-29'", "2022-11-30'", "2022-01-01'",
       "2022-03-13'", "2022-03-14'", "2022-03-15'", "2022-12-02'",
       "2022-12-03'", "2022-12-04'", "2022-12-05'", "2022-12-06'",
       "2022-12-07'", "2022-12-08'", "2022-12-09'", "2022-12-10'",
       "2022-12-11'", "2022-12-12'", "2022-12-13'", "2022-12-14'",
       "2022-12-15'", "2022-12-16'", "2022-12-17'", "2022-12-18'",
       "2022-12-19'", "2022-12-20'", "2022-12-21'", "2022-12-22'",
       "2022-12-23'", "2022-12-24'", "2022-12-25'", "2022-12-26'",
       "2022-12-27'", "2022-12-28'", "2022-12-29'", "2022-12-30'",
       "2022-12-31'", "2022-12-01'", "2022-02-29'"], dtype=object)

In [ ]:
df.iloc[0:5]['Date']

0     2022-01-01
1    2022-01-02'
2    2022-01-03'
3    2022-01-04'
4    2022-01-05'
Name: Date, dtype: object

In [ ]:
df.isna().sum() # Checking whether any null data is present or not

Date                   0
Temperature            0
Avg Humidity           0
Avg Dewpoint           0
Avg Barometer          0
Avg windspeed          0
Avg Gustspeed          0
Avg Direction          0
Rainfall for month     0
Rainfall for year      0
Max rain per minute    0
Max temp               0
Min temp               0
Max humidity           0
Min humidity           0
Max pressure           0
Min pressure           0
Max windspeed          0
Max gust speed         0
Max heat index         0
Month                  0
Diff pressure          0
dtype: int64

In [ ]:
df.nunique() # Unique value in whole data set

Date                    367
Temperature             656
Avg Humidity             86
Avg Dewpoint            637
Avg Barometer            22
Avg windspeed           206
Avg Gustspeed           332
Avg Direction           329
Rainfall for month      234
Rainfall for year       799
Max rain per minute       1
Max temp                680
Min temp                577
Max humidity             92
Min humidity             89
Max pressure           1047
Min pressure           1062
Max windspeed            63
Max gust speed          104
Max heat index          626
Month                    12
Diff pressure          1028
dtype: int64

In [ ]:
df.head(5)

,Date,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,...,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month,Diff pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,1,'0.16600000000000037'
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,1,'0.4009999999999998'
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0,1,'0.9719999999999978'
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,1,'0.33899999999999864'
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,1,'0.6649999999999991'

Index(['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure'],
      dtype='object')

In [ ]:
df.drop_duplicates('Date', keep='first')

,Date,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,...,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month,Diff pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.00,0.00,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,1,'0.16600000000000037'
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.00,0.00,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,1,'0.4009999999999998'
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.00,0.00,...,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0,1,'0.9719999999999978'
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.00,0.00,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,1,'0.33899999999999864'
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.00,0.00,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,1,'0.6649999999999991'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,2022-12-28,31.7,28.0,1.1,29.9,9.5,13.6,319.0,0.58,13.27,...,18.0,51.0,17.0,30.149,29.592,24.2,32.2,41.5,12,'0.5570000000000022'
689,2022-12-29,35.5,37.0,10.5,29.2,16.1,25.4,315.0,0.58,13.27,...,32.8,50.0,15.0,29.592,29.036,170.2,255.3,39.3,12,'0.5559999999999974'
690,2022-12-30,17.5,71.0,9.3,29.4,3.7,5.7,102.0,0.58,13.27,...,-1.2,85.0,44.0,29.748,29.126,12.7,18.4,33.4,12,'0.6219999999999999'
691,2022-12-31,1.5,53.0,-12.5,30.0,9.9,14.3,319.0,0.58,13.27,...,-1.4,76.0,34.0,30.167,29.735,27.6,40.3,5.4,12,'0.43200000000000216'
1248,2022-12-01,46.3,35.0,19.6,29.8,8.6,12.9,245.0,0.00,9.75,...,39.2,46.0,25.0,29.915,29.624,23.0,38.0,54.1,12,'0.29100000000000037'

In [ ]:
df.head()

,Date,Temperature,Avg Humidity,Avg Dewpoint,Avg Barometer,Avg windspeed,Avg Gustspeed,Avg Direction,Rainfall for month,Rainfall for year,...,Min temp,Max humidity,Min humidity,Max pressure,Min pressure,Max windspeed,Max gust speed,Max heat index,Month,Diff pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,1,'0.16600000000000037'
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,1,'0.4009999999999998'
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.260,25.3,38.0,41.0,1,'0.9719999999999978'
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,1,'0.33899999999999864'
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,1,'0.6649999999999991'

In [ ]:
df.to_csv('WEATHER_2.csv', index = False)